# macOS system files
.DS_Store

# Python virtual environment
venv/

# Django project files
*.pyc
*.pyo
__pycache__/

# Django static files
staticfiles/

# Django media files
media/

# Database files
db.sqlite3

# Log files
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
